.enquiry-container > * {
  margin-bottom: 5px;
}

.enquiry-container > input {
  width: 99%;
  height: 20px;
}

.enquiry-container > textarea {
  width: 99%;
  height: 50px;
}

.enquiry-container > button {
  float: right;
  padding: 10px;
  width: 30%;
  margin-top: -5px;
}
