.house-container {
  padding: 10px 100px;
}

.house-container > * {
  margin: 10px;
}

.address {
  font-weight: bold;
  font-size: 1.5rem;
}

.even-columns {
  display: flex;
}

.even-columns > * {
  flex-basis: 100%;
}

.even-columns > img {
  height: 400px;
  border: 10px solid white;
  border-radius: 300px;
  padding: 0px;
}

.house-desc {
  display: flex;
  flex-direction: column;
  line-height: 25px;
  padding: 10px;
  gap: 20px;
}

.house-desc > img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  align-self: center;
}

.priceTag {
  font-weight: bold;
  font-size: 1.5rem;
  color: orange;
}
